<div class="news">
  <h2>news</h2>
    <hr>
  {% if site.news  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign news = site.news | reverse %}
      {% for item in news limit: site.news_limit %}
        <tr>
<!--          <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>-->
          <td>
              <div class="news-date">{{ item.date | date: "%b %-d, %Y" }}</div>
            {% if item.inline %}
              {% if item.link %}
              <a class="news-title pb-2" href="{{ item.link }}" target="_blank">{{ item.title }}</a>
              {% else %}
                <div class="news-title pb-2">{{item.title}}</div>
              {% endif %}
              <div class="news-content pb-3">{{ item.content | remove: '<p>' | remove: '</p>' | emojify }}</div>
            {% else %}
              <a class="news-title pb-2" href="{{ item.url | relative_url }}" target="_blank">{{ item.title }}</a>
            {% endif %}
              <hr>
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
