/*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/

// Typography

p, h1, h2, h3, h4, h5, h6, em, div, span, strong {
  color: var(--global-text-color);
}

a, table.table a {
  color: var(--global-theme-color);
  &:hover {
    color: var(--global-theme-color);
    text-decoration: underline;
  }
  &:hover:after {
    width: 100%;
  }
}

// Math

.equation {
  margin-bottom: 1rem;
  text-align: center;
}

// Caption

.caption {
  font-size: 0.875rem;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
}


// Profile

.profile {
  margin-left: 1rem;
  width: 100%;

  .address {
    margin-bottom: 5px;
    margin-top: 21px;
    //font-family: monospace;
    font-size: 1rem;
    text-align: center;
    p {
      display: inline-block;
      margin: 0;
    }
  }
}

p.contact{
  margin-top: -0.3rem;
  a{
    margin-left: 1rem;
    color: inherit;
    border-bottom: 1px dashed;
    text-decoration: none;
  }
}

@media (min-width: 576px) {
  .profile {
    width: 100%;
    .address {
      p { display: block; }
    }
  }
}

.post-description {
  margin-bottom: 2rem;
  font-size: 0.875rem;
  a {
    color: inherit;
    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}


// Navbar customization

.navbar {
  box-shadow: none;
  border-bottom: 1px solid $grey-color-light;
  opacity: 0.95;
  background-color: var(--global-bg-color);
}
.navbar.navbar-light {
  // Remove link decoration
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .navbar-brand {
    color: var(--global-text-color);
  }
  .navbar-nav .nav-item .nav-link {
    color: var(--global-text-color);
    &:hover {
      color: var(--global-hover-color);
    }
  }
  .navbar-nav .nav-item.active>.nav-link {
      background-color: inherit;
      font-weight: bolder;
      color: var(--global-theme-color);
      &:hover {
        color: var(--global-hover-color);
      }
  }
  .contact-icon {
    font-size: 2rem;
    a {
      &:hover {
        color: var(--global-hover-color);
      }
    }
  }
}

.navbar-toggler {
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--global-icon-color);
    border-radius: 1px;
    margin-bottom: 4px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggler.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}


// News

.news-col{
  padding-right: 0px;
  padding-right: 0px;
}

.news-date{
  color: var(--global-icon-color);
  font-size: 0.9rem;
}

.news-title {
  color: var(--global-theme-color);
  font-size: 1.2rem;
}

.news-content{

}
.news table td {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--global-text-color);
}

.news table th {
  color: var(--global-text-color);
}

// Projects at About

.project-about {
  padding-top: 2rem;
}

// Social (bottom)

.social {
  text-align: center;
  .contact-icon {
    font-size: 4rem;
    a {
      color: var(--global-icon-color);
      &:hover {
        color: var(--global-theme-color);
      }
    }
  }
  .contact-note {
    font-size: 0.8rem;
  }
}


// Footer
footer.fixed-bottom {
  background-color: var(--global-footer-bg-color);
  font-size: 0.75rem;
  .container {
    color: var(--global-footer-text-color);
    padding-top: 9px;
    padding-bottom: 8px;
  }
  a {
    color: var(--global-footer-link-color);
    &:hover {
      color: pink;
      text-decoration: none;
    }
  }
}

footer.sticky-bottom {
  border-top: 1px solid $grey-color-light;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0.9rem;
}


// Blog

.header-bar {
  border-bottom: 1px solid $grey-color-light;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
  h1 {
    color: var(--global-theme-color);
    font-size: 5rem;
  }
}

.post-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  li {
    border-bottom: 1px solid $grey-color-light;
    list-style: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .post-meta {
      color: $grey-color;
      font-size: 0.875rem;
      margin-bottom: 0;
    }
    a {
      color: var(--global-text-color);
      text-decoration: none;
      &:hover {
        color: var(--global-theme-color);
      }
    }
  }
}

.pagination {
  .page-item {
    .page-link {
      color: var(--global-text-color);
      &:hover {
        color: $black-color;
      }
    }
    &.active .page-link {
      background-color: var(--global-theme-color);
      &:hover {
        background-color: var(--global-theme-color);
      }
    }
  }
}


// Distill

.distill {
  a:hover {
    border-bottom-color: var(--global-theme-color);
    text-decoration: none;
  }
}


// Projects

.projects {
  .grid-item {
    //width: 250px;
    margin-bottom: 10px;
    a {
      color: black;
      text-decoration: none;
      &:hover {
        color: var(--global-theme-color);
      }
    }
  }
  .card img {
    width: 100%;
  }
  .project-col{
    padding-right: 0;
    padding-left: 20px;
  }
}

h3.card-title{
  color: #1b1f23 !important;
}


// Publications

.publications {
  margin-top: 2rem;
  h1 {
    color: var(--global-theme-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  h2 {
    margin-bottom: 1rem;
    span {
      font-size: 1.5rem;
    }
  }
  h2.year {
    color: $grey-color-light;
    border-top: 1px solid $grey-color-light;
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    text-align: right;
  }
  ol.bibliography {
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 1rem;
      .abbr {
        height: 2rem;
        margin-bottom: 0.5rem;
        abbr {
          display: inline-block;
          background-color: var(--global-theme-color);
          padding-left: 1rem;
          padding-right: 1rem;
          a {
            color: white;
            &:hover {
              text-decoration: none;
            }
          }
        }
        .award {
          color: var(--global-theme-color) !important;
          border: 1px solid var(--global-theme-color);
        }
      }
      .title {
        font-weight: bolder;
      }
      .author {
        a {
          border-bottom: 1px dashed var(--global-theme-color);
          &:hover {
              border-bottom-style: solid;
              text-decoration: none;
          }
        }
        > em {
          border-bottom: 1px solid;
          font-style: normal;
        }
      }
      .links {
        a.btn {
          color: var(--global-text-color);
          border: 1px solid var(--global-text-color);
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          &:hover {
            color: var(--global-theme-color);
            border-color: var(--global-theme-color);
          }
        }
      }
      .hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }
        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
      }
      .hidden.open {
        max-height: 100em;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }
      div.abstract.hidden {
        border: dashed 1px var(--global-bg-color);
      }
      div.abstract.hidden.open {
        border-color: var(--global-text-color);
      }
    }
  }
}

// Rouge Color Customization
code {
  color: var(--global-theme-color);
}
// Transitioning Themes
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}


// -------------------------------------- from myweb ---------------------------------------------------------------
// -----------------------------------------------------------------------------------------------------------------

.dropdown-toggle::after {
  transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 0;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown>.dropdown-toggle:active {
  pointer-events: none;
}

.lead {
  font-size: 18px;
  font-weight: 400;
}

a {
  color: #7f6c5e;
}

a:hover {
  color: #7f6c5e;
  opacity: 0.6;
  transition: 0.2s;
  text-decoration: none;
}

#intro a {
  color: #7f6c5e;
  border-bottom: 1px dashed;
}

#news a {
  color: #7f6c5e;
  border-bottom: 1px dashed;
}

#bioContent a {
  color: #7f6c5e;
  border-bottom: 1px dashed;
}

.card-title a{
  color: black;
  /*font-weight: bold;*/
}

a i{
  color: inherit;
}

footer a{
  color: white;
}

footer a:hover{
  color: white;
}

footer a i{
  color: white;
}

b {
  font-weight: 700;
}

th {
  font-weight: normal;
  vertical-align: top;
}

//a.nav-link {
//  position: relative;
//  z-index : 1;
//  border-bottom: 1px solid transparent;
//}

//.active a{
//  position: relative;
//  z-index : 1;
//  border-bottom: 1px solid black;
//}

//.navbar-light .navbar-nav .nav-link:hover {
//  position: relative;
//  z-index : 1;
//  color: #000000cc;
//  border-bottom: 1px solid black;
//  opacity: 1;
//  transition: 0.5s;
//}

/*  .navbar-light .navbar-nav .nav-link:hover:before {
    color: #000000cc;
    content : "";
    position: absolute;
    left    : 5%;
    bottom  : 0;
    height  : 1px;
    width   : 90%;
    border-bottom: 1px solid black;
    opacity: 1;
    transition: 0.5s;
    text-decoration: none;
  }*/

/* ---  footer  ---*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* ---------------------- quote card ----------------------*/
.quote-card {
  font-family: 'Source Serif Pro', serif;
  background: #fafbfc;
  color: #222222;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
  position: relative;
  overflow: hidden;
  min-height: 120px;
}
.quote-card p {
  font-size: 19px;
  line-height: 1.5;
  margin: 0;
  max-width: 80%;
}
.quote-card cite {
  font-size: 16px;
  margin-top: 10px;
  display: block;
  font-weight: 200;
  opacity: 0.8;
}
.quote-card:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 5em;
  color: rgba(235, 235, 235, 0.8);
  font-weight: normal;
}
.quote-card:after {
  font-family: Georgia, serif;
  content: "”";
  position: absolute;
  bottom: -110px;
  line-height: 100px;
  right: -32px;
  font-size: 25em;
  color: rgba(235, 235, 235, 0.8);
  font-weight: normal;
}
@media (max-width: 640px) {
  .quote-card:after {
    font-size: 22em;
    right: -25px;
  }
}


/* ---------------------- color and font ----------------------*/
.red {
  color: #990020;
}

.selfCol {
  left: 8%;
}
@media (max-width: 998px) {
  .me {
    width: 160px;
  }
  .selfCol {
    left: unset;
  }
}

/* --------------- publications --------------- */
.publicationArea {
  padding: 0 0 20px 0;
}

.th-image {
  padding-top: 5px;
  padding-right: 10px;
}

.paperImage {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.paperImage:hover {
  box-shadow: 0 0 3px 2px rgba(0, 140, 186, 0.38);
}

a.anchorPaperImage:hover{
  opacity: 1;
}
.paperTitle {
  font-size: 1.3rem;
  font-weight: 400!important;
  color: black !important;
}

.paperTitle:hover{
  opacity: 1;
}
.paperDetail {
  line-height: 1.8;
}

.paperDetail a{
  margin-right: 1.2rem;
  line-height: 1.3;
  /*font-weight: 300;*/
  color: #7f6c5e;
  /*color: black;*/
  border-bottom: none
}

.paperDetail a:hover{
  border-bottom: 1px dashed;
}


.paperDetail p{
  margin-block-start: 0;
  margin-block-end: 0;
}

.paperDetail h5{
  margin-block-end: 0;
}

.paperDetail .venue {
  color: #818185;
}

.venue a{
  color: inherit;
}

.more-pubs a:hover{
  opacity: 1;
}

.mb-4, .my-4 {
  margin-bottom: 0.3rem!important;
}

.btn-outline-brown{color:#bb1a32;border-color:#bb1a32}
.btn-outline-brown:hover{color:#fff;background-color:#bb1a32;border-color:#bb1a32}
.btn-outline-brown.focus,.btn-outline-brown:focus{box-shadow:0 0 0 .2rem rgba(220,53,69,.5)}
.btn-outline-brown.disabled,.btn-outline-brown:disabled{color:#bb1a32;background-color:transparent}
.btn-outline-brown:not(:disabled):not(.disabled).active,
.btn-outline-brown:not(:disabled):not(.disabled):active,.show>.btn-outline-brown.dropdown-toggle{color:#fff;background-color:#bb1a32;border-color:#bb1a32}
.btn-outline-brown:not(:disabled):not(.disabled).active:focus,.btn-outline-brown:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-brown.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(220,53,69,.5)}
/* ---------------- projects ---------------*/


.card-img-top {
  border: 1px solid #d9d9d9;
}

a.img-preview {
  padding: 10px;
}

a.img-preview:hover{
  opacity: 1;
}


.runningLinks {
  font-size: 14px;
}
.runningLinks span a:hover {
  border-bottom: 1px dashed;
}

/* ------------------- award -----------------*/
.award{
  color: darkred;
}

/*  ------------  */