/******************************************************************************
 * Content
 ******************************************************************************/

 body {
   padding-bottom: 70px;
   color: var(--global-text-color);
   background-color: var(--global-bg-color);
   font-family: "Source Sans Pro";
   //font-family: "Helvetica";
 }

 body.fixed-top-nav {
   // Add some padding for the nav-bar.
   padding-top: 56px;
 }

 body.sticky-bottom-footer {
   // Remove padding below footer.
   padding-bottom: 0;
 }

.container {
  max-width: $max-content-width;
}

// Profile
#image-div{
  width: 100%;
  text-align: center;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  padding-top: .5rem;
  img {
    width: 100%;
  }
}

.social-top{
  text-align: right;
}

.profile-rounded {
  border-radius: 11.5rem!important;
}
.desc-p{
  margin-bottom: 0.5rem;
}
// TODO: redefine content layout.

p.contact{
  a{
    color: inherit;
    border-bottom: 1px dashed;
    text-decoration: none;
    margin-right: 10px;
  }
  a:hover{
    opacity: 0.6;
    transition: 0.3s;
  }
  span{
    margin-right: 10px;
  }
}

.clearfix{
  p{
    font-size: 1.12rem;
  }
}
#breakline{
  display: none;
}

@media only screen and (max-width: 1000px){
  #d3_selectable_force_directed_graph{
    display: none;
  }
}

@media only screen and (max-width: 600px){
  #breakline{
    display: block;
  }
  #image-div{
    padding-right: 0;
    padding-bottom: 1rem;
    img {
      width: 45%;
    }
  }
  header.post-header{
    text-align: center;
  }
  .contact{
    line-height: 2.1;
  }
}
/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
