---
layout: default
---

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/publication.js"></script>

<div class="row">
	<div class="col-sm-3">
		<div class="info-box" >
			<img class="img-intro" src="{{ site.url }}{{ site.baseurl }}/assets/img/huyen.jpg"/>
			<p class="intro-text">
				Dept. of Computer Science<br>
				Texas Tech University<br>
				huyen.nguyen (at) ttu.edu<br>
				<span class="social-container">{% include social-icons-header.html %}</span>

			</p>
		</div>
	</div>
	<article class="col-sm-9">
		<div class="welcome first-section">
			<h4>Welcome!</h4>
			<p><i>(I’m on a break right now after doing my PhD. I’ll be back with more updates!)</i></p>
			<p>Hi, I’m Huyen! I’m an incoming Postdoc at Harvard Medical School. I did my Ph.D. in Computer Science from <a href="https://www.ttu.edu/">Texas Tech University</a>,
				at the <a href="https://idatavisualizationlab.github.io/">interactive Data
					Visualization
					Lab (iDVL)</a>.</p>

			<p>I develop interactive visualizations to help identify interesting patterns and events in time-series data
				for
				various domains, including bio-medical,
				qualitative, social media, and cybersecurity data. Details are in my <a
						href="{{ site.url }}{{ site.baseurl }}/docs/HuyenNguyen-CV.pdf" target="_blank">CV</a>.</p>

			<p>Since Fall 2021, I have been teaching CS2413 Data Structures Lab session for undergrad students. Looking
				forward to
				the day I get to teach Data Visualization!
			</p>

		</div>

	</article>
</div>


<div class="row updateRow">
	<div class="col-sm-3"></div>
	<article class="col-sm-9">
	<div class="updates">
		<h4>Updates</h4>

		<div style="color: rgba(79,80,80,0.65); padding-bottom: 0.5rem">An up-to-date list of <a
				href="{{ site.url }}{{ site.baseurl }}/updates/" target="_blank">Updates
			<i class="fas fa-external-link-alt"></i></a>
		</div>
	</div>
	</article>

	<div class="row updateSection">
		<div class="col-sm-3 dateInUpdate"><i>August 2023</i></div>
		<div class="col-sm-9">I ✨<b>graduated</b>✨ with my Ph.D. in Computer Science from Texas Tech University 🎓
		</div>
	</div>

	<div class="row updateSection">
		<div class="col-sm-3 dateInUpdate"><i>July 2023</i></div>
		<div class="col-sm-9">I presented our interdisciplinary work on Visualization for Qualitative Data at GRC 2023,
			Lewiston, Maine. It's been 4 wonderful years working with our NASA Visionary Grant!
		</div>
	</div>

	<div class="row updateSection">
		<div class="col-sm-3 dateInUpdate"><i>June 2023</i></div>
		<div class="col-sm-9">I successfully <b>defended my doctoral dissertation</b> in Computer Science! ✨ My
			dissertation is titled "Interactive Visualization and Event Detection in Time-series Data."
		</div>
	</div>

	<div class="row updateSection">
		<div class="col-sm-3 dateInUpdate"><i>Jan 2023</i></div>
		<div class="col-sm-9">I presented a <b>Guest lecture</b> at University of Washington Bothell on
			<i>Interaction in Visualization</i>. Great discussions with colleagues and students on interaction and
			accessibility in visualization!
		</div>
	</div>

	<div class="row updateSection">
		<div class="col-sm-3 dateInUpdate"><i>Sept 2022</i></div>
		<div class="col-sm-9">I will present a talk at <b>Bio+MedVis Challenge</b> @ IEEE VIS 2022 with our work 🧬
			<a href="https://arxiv.org/pdf/2209.12140.pdf" target="_blank">Modie
			Viewer:
			Protein Beasts and How to View Them</a>. This work is presented as a poster as well.
		</div>
	</div>

	<div class="row updateSection">
		<div class="col-sm-3 dateInUpdate"><i>Sept 2022</i></div>
		<div class="col-sm-9">Heading to Oklahoma for <b>IEEE VIS 2022</b>! Our paper of <a
				href="https://arxiv.org/pdf/2209.11856.pdf" target="_blank">WordStream Maker: A
			Lightweight End-to-end Visualization Platform for Qualitative Time-series Data</a> was accepted to NLVIZ: Workshop on Natural
			Language, Text, and Data Visualization.
		</div>
	</div>

	<div class="row updateSection">
		<div class="col-sm-3 dateInUpdate"><i>Sept 2022</i></div>
		<div class="col-sm-9">Our journal paper of <a href="https://ieeexplore.ieee.org/abstract/document/9895250"
		target="_blank">MalView: Interactive Visual Analytics for Comprehending Malware
			Behavior</a> was accepted to <b>IEEE Access</b> :)
		</div>
	</div>

	<div class="row updateSection">
		<div class="col-sm-3 dateInUpdate"><i>Jun 2021</i></div>
		<div class="col-sm-9"><b>ACM Open Access</b>: <a href="https://dl.acm.org/doi/10.1145/3468784.3469851"
														 target="_blank">Interactive
			Qualitative Data Visualization for Educational
			Assessment</a>, the collaboration supported by <b>GRC - NASA Visionary Grant </b>
		</div>
	</div>

	<div class="row updateSection">
		<div class="col-sm-3 dateInUpdate"><i>Aug 2020</i></div>
		<div class="col-sm-9"><b>VAST Challenge 2020 🏆 Mini-Challenge 2 Award</b>: Honorable Mention for Detailed
			Analysis of Patterns
			of Misclassification.
		</div>
	</div>

	<div class="row updateSection">
		<div class="col-sm-3 dateInUpdate"><i>Nov 2019</i></div>
		<div class="col-sm-9"><b>NASA, Visionary Grant Award 🥇</b> administered by Gordon Research Conferences, for
			interdisciplinary research with our project entitled “Visualizing Qualitative Data for Science and
			Education”.
		</div>
	</div>
</div>


<div class="row">
	<div class="col-sm-3"></div>
	<article class="col-sm-9">
		<div class="publication section">
			<h4>Featured Publications</h4>
			<div style="color: rgba(79,80,80,0.65)">An up-to-date list is available on <a
					href="https://scholar.google.com/citations?user=tsrO-ZgAAAAJ&hl=en" target="_blank">Google Scholar
				<i
						class="fas fa-external-link-alt"></i></a>
			</div>
		</div>
	</article>
</div>
<div class="row">
	<div id="featuredPaperContainer"></div>
	<script>
		featuredPublications();
	</script>

</div>



