---
layout: default
---

<div class="row">
	<div class="group-column column">
		<div class="row">
			<div class="intro-column column">
				<img class="img-intro" src="/assets/img/huyen.jpeg">
				<p class="intro-text">
					PhD student<br>
					Computer Science<br>
					Texas Tech University<br>
					huyen.nguyen (at) ttu.edu
				</p>
			</div>
			<div class="welcome-column column">
				<h4>Welcome!</h4>
				<p>I’m a Computer Science PhD student at <a href="https://www.ttu.edu/">Texas Tech University</a>,
					advised
					by <a href="http://www.myweb.ttu.edu/tnhondan/">Prof. Tommy
						Dang</a> at the <a href="https://idatavisualizationlab.github.io/">interactive Data
						Visualization
						Lab (iDVL)</a>.</p>

				<p>My research interests include interactive visualization, visual analytics and HCI,
					supporting the
					understanding and insight discovery of data. I develop web-based interactive
					visualization with <a href="(https://d3js.org/)">D3.js</a> and I study to construct a template
					for event detection mechanisms in time-series data. Details are in my <a
							href="cv/HuyenNguyen-CV.pdf">CV</a>.</p>

				{% include social-icons.html %}
			</div>
		</div>
		<div class="row">
			<div class="one-whole column section">
				<h4>Publications</h4>
				<div id="publication"></div>
			</div>
		</div>
	</div>

	<div class="update-column column">
		<h4>Updates</h4>
		<p><i>June 2021.</i> ACM Open Access: <a href="https://dl.acm.org/doi/10.1145/3468784.3469851" target="_blank">Interactive
			Qualitative Data Visualization for Educational
			Assessment</a>,
			the collaboration supported by GRC - NASA Visionary Grant
		</p>

		<p><i>May 2021.</i>
			Two new papers at <a href="https://www.iait-conf.org/2021/" target="_blank">IAIT 2021</a>. One on
			visualization for education and one on Explainable LSTM for Multivariate Time Series.
		</p>
		<p>
			<i>Aug 2020.</i>
			VAST Challenge 2020 🏆 Mini-Challenge 2 Award: Honorable Mention for Detailed Analysis of Patterns of
			Misclassification</p>
		<p>
			<i>Nov 2019.</i> Our project entitled “Visualizing Qualitative Data for Science and Education” received
			the <b>Visionary Grant Award</b>, supported by a generous grant from NASA for interdisciplinary research.
		</p>
	</div>

</div>
