<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    {% include scripts/mathjax.html %}
</head>

<body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

<!-- Header -->

{% include header.html %}

<!-- Content -->

<div class="container mt-5">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-description">{{ page.description }}</p>
    </header>

    {{ content }}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="../assets/js/publication.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">


    <!--main content-->
    <div id="paperContainer">

    </div>

    <script>
        publications();
    </script>
</div>

<!-- Footer -->

{% include footer.html %}

</body>

{% include scripts/bootstrap.html %}
{% include scripts/mansory.html %}
{% include scripts/misc.html %}

</html>
